# We Rate Dogs Data Analysis

We are going to analyze data coming from the WeRateDogs twitter channel. This project aims to practice thorough data wrangling techniques. Additionally, the goal is to find out interesting facts and write a report.

Your goal: wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations.

## Table of Contents

1. [Introduction](#introduction)
2. [Data Wrangling](#data-wrangling)
    1. [Gathering data](#gathering-data)
    2. [Assessing data](#assessing-data)
    3. [Cleaning data](#cleaning-data) 
3. [Analysis and Visualization](#analysis-and-visualization)
4. [Reporting](#reporting)

## Introduction <a name="introduction"></a>
Some introduction text, formatted in heading 2 style

To get started, let's import our libraries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import time
import json
import requests
import os.path
%matplotlib inline

pd.set_option('display.max_rows', 2500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## Data Wrangling <a name="data-wrangling"></a>
The first paragraph text

### Gathering Data <a name="gathering-data"></a>
Read in the first data set: WeRateDogs Twitter archive provided by Udacity.

In [2]:
# read in twitter archive 
twitter_dogs_archive = pd.read_csv('twitter-archive-enhanced-2.csv')
twitter_dogs_archive.head()

             tweet_id  in_reply_to_status_id  in_reply_to_user_id                  timestamp                                             source                                               text  retweeted_status_id  retweeted_status_user_id retweeted_status_timestamp                                      expanded_urls  rating_numerator  rating_denominator      name doggo floofer pupper puppo
0  892420643555336193                    NaN                  NaN  2017-08-01 16:23:56 +0000  <a href="http://twitter.com/download/iphone" r...  This is Phineas. He's a mystical boy. Only eve...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892420643...                13                  10   Phineas  None    None   None  None
1  892177421306343426                    NaN                  NaN  2017-08-01 00:17:27 +0000  <a href="http://twitter.com/download/iphone" r...  This is Tilly. She's just checking pup on you....                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892177421...                13                  10     Tilly  None    None   None  None
2  891815181378084864                    NaN                  NaN  2017-07-31 00:18:03 +0000  <a href="http://twitter.com/download/iphone" r...  This is Archie. He is a rare Norwegian Pouncin...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891815181...                12                  10    Archie  None    None   None  None
3  891689557279858688                    NaN                  NaN  2017-07-30 15:58:51 +0000  <a href="http://twitter.com/download/iphone" r...  This is Darla. She commenced a snooze mid meal...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891689557...                13                  10     Darla  None    None   None  None
4  891327558926688256                    NaN                  NaN  2017-07-29 16:00:24 +0000  <a href="http://twitter.com/download/iphone" r...  This is Franklin. He would like you to stop ca...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891327558...                12                  10  Franklin  None    None   None  None

Download and read in image predictions file provided by Udacity.

In [ ]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

# download file programmatically
response = requests.get(url)
    
# create new file if not existent
if not os.path.exists('image-predictions.tsv'):
    file = open('image-predictions.tsv', 'w')
    file.close()

# open file and write file content
with open('image-predictions.tsv', 'wb') as file_image_predictions:
        file_image_predictions.write(response.content)

In [3]:
# load image predictions into data frame
image_predictions = pd.read_csv('image-predictions.tsv', sep='\t')
image_predictions.head(10)

             tweet_id                                          jpg_url  img_num                      p1   p1_conf  p1_dog                  p2   p2_conf  p2_dog                           p3   p3_conf  p3_dog
0  666020888022790149  https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg        1  Welsh_springer_spaniel  0.465074    True              collie  0.156665    True            Shetland_sheepdog  0.061428    True
1  666029285002620928  https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg        1                 redbone  0.506826    True  miniature_pinscher  0.074192    True          Rhodesian_ridgeback  0.072010    True
2  666033412701032449  https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg        1         German_shepherd  0.596461    True            malinois  0.138584    True                   bloodhound  0.116197    True
3  666044226329800704  https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg        1     Rhodesian_ridgeback  0.408143    True             redbone  0.360687    True           miniature_pinscher  0.222752    True
4  666049248165822465  https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg        1      miniature_pinscher  0.560311    True          Rottweiler  0.243682    True                     Doberman  0.154629    True
5  666050758794694657  https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg        1    Bernese_mountain_dog  0.651137    True    English_springer  0.263788    True   Greater_Swiss_Mountain_dog  0.016199    True
6  666051853826850816  https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg        1              box_turtle  0.933012   False          mud_turtle  0.045885   False                     terrapin  0.017885   False
7  666055525042405380  https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg        1                    chow  0.692517    True     Tibetan_mastiff  0.058279    True                     fur_coat  0.054449   False
8  666057090499244032  https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg        1           shopping_cart  0.962465   False     shopping_basket  0.014594   False             golden_retriever  0.007959    True
9  666058600524156928  https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg        1        miniature_poodle  0.201493    True            komondor  0.192305    True  soft-coated_wheaten_terrier  0.082086    True

### Twitter API request using tweepy

In [ ]:
# hide login details
with open('logins.json') as login_file:
    logins = json.load(login_file)

def get_secret(setting, logins=logins):
    """Get login setting or fail with ImproperlyConfigured"""
    try:
        return logins[setting]
    except KeyError:
        raise ImproperlyConfigured("Set the {} setting.".format(setting))

In [ ]:
# retrieve Twitter login details 
consumer_key = get_secret('consumer_key')
consumer_secret = get_secret('consumer_secret')
access_token = get_secret('access_token')
access_secret = get_secret('access_secret')

In [ ]:
# access Twitter API
import tweepy

# Redirect to Twitter to authorize
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)

# Get access token
auth.set_access_token(access_token, access_secret)

# api instance
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [ ]:
# get tweets from WeRateDogs Twitter timeline 
start = time.time()
error_ids = []
print("Start requesting WeRateDogs tweets.")
with open('tweet_json.txt', 'w', encoding='utf-8') as file:
    file.write("[\n")
    for index, tweet_id in enumerate(twitter_dogs_archive.tweet_id.values):
        ranking = index + 1 
        try:
            # Twitter API request using specific tweet_id
            status = api.get_status(tweet_id, tweet_mode='extended')
            status_json = json.dumps(status._json)

            # write json object
            file.write(status_json)
            if ranking < len(twitter_dogs_archive.tweet_id.values):
                file.write(",")
            file.write("\n")
            
            # This cell is slow so print ranking to gauge time remaining
            print(ranking, '-', tweet_id)

        except tweepy.TweepError as e:
            # catch erroneos
            error_ids.append(tweet_id)
            e = e.response.text
            print(e)
    file.write("]")
end = time.time()
print("Process finisheed. Time elapsed: ", round((end-start) / 60, 2), "min." )

In [4]:
tweets = []
with open('tweet_json.txt', 'r') as file:
    data = json.loads(file.read())
    for i in range(0, len(data)):
        record = {"id": data[i]["id"], "retweet_count": data[i]['retweet_count'], "favorite_count": data[i]["favorite_count"]}
        tweets.append(record)

tweets_df = pd.DataFrame(tweets)
tweets_df.head()

   favorite_count                  id  retweet_count
0           37683  892420643555336193           8215
1           32373  892177421306343426           6076
2           24378  891815181378084864           4017
3           41004  891689557279858688           8370
4           39208  891327558926688256           9075

In [ ]:
# save erroneous ids
errors_df= pd.DataFrame(error_ids)
errors_df.to_csv('errors.csv',index=False)

In [ ]:
# load errors
errors_df = pd.read_csv('errors.csv')
errors_df.info()

 query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count.

### Assassing Data <a name="assessing-data"></a>
The paragraph text

#### Visual assessment

In [ ]:
twitter_dogs_archive

In [ ]:
tweets_df

In [ ]:
image_predictions

#### Programmatic assessment

In [ ]:
# Assess twitter dogs enhanced.
twitter_dogs_archive.info()

In [ ]:
# show all retweets
retweets = twitter_dogs_archive[twitter_dogs_archive.retweeted_status_id.notna()]['retweeted_status_id'].values.astype(np.int64)
twitter_dogs_archive[twitter_dogs_archive.retweeted_status_id.notna()]

In [ ]:
# check if original tweets are in twitter archive
retweets_reduced = retweets
for retweet in retweets:
    if retweet in twitter_dogs_archive.tweet_id.values:
        index = np.argwhere(retweets_reduced == retweet)
        retweets_reduced = np.delete(retweets_reduced, index)
print(len(twitter_dogs_archive[twitter_dogs_archive.retweeted_status_id.notna()]) - len(retweets_reduced), "entries out of the retweets are contained in the twitter archive.\n")

In [ ]:
# show all replies
replies = twitter_dogs_archive[twitter_dogs_archive.in_reply_to_status_id.notna()]['tweet_id'].values.astype(np.int64)
twitter_dogs_archive[twitter_dogs_archive.in_reply_to_status_id.notna()]

In [5]:
twitter_dogs_archive.name.value_counts()

None              745
a                  55
Charlie            12
Cooper             11
Lucy               11
Oliver             11
Penny              10
Tucker             10
Lola               10
Bo                  9
Winston             9
Sadie               8
the                 8
an                  7
Toby                7
Buddy               7
Daisy               7
Bailey              7
Koda                6
Leo                 6
Oscar               6
Dave                6
Bella               6
Milo                6
Scout               6
Stanley             6
Rusty               6
Jack                6
Jax                 6
Phil                5
Oakley              5
Finn                5
Bentley             5
Larry               5
George              5
Alfie               5
Louis               5
Gus                 5
Chester             5
Sammy               5
very                5
Sunny               5
Shadow              4
Scooter             4
Brody               4
Hank                4
Maximus             4
Beau                4
Riley               4
Derek               4
Walter              4
Sophie              4
Sampson             4
Moose               4
Luna                4
just                4
Bruce               4
Winnie              4
Reggie              4
Clarence            4
Jerry               4
Cassie              4
Loki                4
quite               4
Maddie              4
Duke                4
Ruby                4
Chip                4
Gerald              4
Archie              4
Gary                4
Dexter              4
Bear                4
Reginald            4
one                 4
Boomer              4
Carl                4
Maggie              4
Jeffrey             4
Clark               4
Zeke                3
Peaches             3
Olive               3
Steven              3
Doug                3
Earl                3
Otis                3
Samson              3
Colby               3
Rory                3
Paisley             3
Lorenzo             3
Waffles             3
Malcolm             3
Vincent             3
Reese               3
Mia                 3
Wyatt               3
Louie               3
Ted                 3
Frankie             3
Sebastian           3
Kyle                3
Arnie               3
Max                 3
Jimothy             3
Klevin              3
Wilson              3
Calvin              3
Zoey                3
Lily                3
Coco                3
Gizmo               3
Ellie               3
Rosie               3
Wallace             3
Nala                3
Butter              2
Sarge               2
Herschel            2
Tyrone              2
Ollie               2
Albus               2
not                 2
Frank               2
Dakota              2
Bisquick            2
Curtis              2
Baxter              2
Stubert             2
Sugar               2
Herm                2
Alice               2
Lincoln             2
Astrid              2
Kilo                2
Terrance            2
Roosevelt           2
mad                 2
Crystal             2
Franklin            2
Cali                2
Jiminy              2
Logan               2
Levi                2
Baloo               2
Kyro                2
Yogi                2
Churlie             2
Albert              2
Rocky               2
Remington           2
Gabe                2
Watson              2
Coops               2
Sansa               2
Harper              2
Fizz                2
Cupcake             2
Eve                 2
Rocco               2
Hobbes              2
Moreton             2
Emmy                2
Anakin              2
Gidget              2
Eli                 2
Moe                 2
Keurig              2
Seamus              2
Blitz               2
Doc                 2
Harold              2
Meyer               2
Chelsea             2
Thumas              2
Pickles             2
Trooper             2
Ozzy                2
CeCe                2
Pipsy               2
Terry               2
Cody                2
Atlas               2
Jamesy              2
Hunter              2
Lenny               2
Shaggy              2
Bernie              2
Misty               2
Odie                2
Atticus             2
Chet                2
Canela              2
Raymond             2
Solomon             2
Quinn               2
Brad                2
Ava                 2
Finley              2
Paull               2
Axel                2
Luca                2
Phineas             2
Hurley              2
Wally               2
Carly               2
Chuckles            2
Pablo               2
Calbert             2
Benji               2
Olivia              2
Elliot              2
Marley              2
Aspen               2
Lou                 2
Belle               2
Lennon              2
Rizzy               2
Ash                 2
Bungalo             2
Ken                 2
Patrick             2
Kreg                2
Theodore            2
Chipson             2
Dawn                2
Klein               2
Opal                2
Nollie              2
Griffin             2
Fred                2
Django              2
Cash                2
Jesse               2
Herald              2
Stephan             2
Layla               2
Hercules            2
Timison             2
Panda               2
Jimison             2
Benedict            2
Fiona               2
Charles             2
Mattie              2
Oliviér             2
Sandy               2
Keith               2
Sam                 2
Rubio               2
Penelope            2
Dash                2
Rufus               2
Davey               2
Kenneth             2
Mister              2
Hammond             2
Gromit              2
getting             2
Lilly               2
Bob                 2
Indie               2
Bubbles             2
Nelly               2
Maxaroni            2
Abby                2
Oshie               2
Romeo               2
Juno                2
Jackson             2
Bell                2
Happy               2
Titan               2
Kirby               2
Sierra              2
Philbert            2
Kenny               2
Kreggory            2
Kevin               2
Balto               2
actually            2
Phred               2
Pippa               2
Jeph                2
Linda               2
Tyr                 2
Chompsky            2
Leela               2
Neptune             2
Betty               2
Piper               2
Smokey              2
Percy               2
Flávio              2
Nigel               1
Oddie               1
Rover               1
Rorie               1
Bauer               1
Miguel              1
Rontu               1
Ricky               1
Timber              1
Hermione            1
Beebop              1
Barclay             1
Claude              1
Cupid               1
Darla               1
Vinnie              1
Lizzie              1
Aubie               1
Alexander           1
Tonks               1
Brandi              1
Fiji                1
Millie              1
Maks                1
Ember               1
Reptar              1
Shnuggles           1
Jordy               1
Terrenth            1
Harnold             1
Rilo                1
Carbon              1
Sailor              1
Acro                1
Bruiser             1
Clarkus             1
Brutus              1
Charleson           1
Gabby               1
Bonaparte           1
Daniel              1
Tuco                1
Creg                1
Arlo                1
Rascal              1
Grizz               1
Cheryl              1
Fido                1
Todo                1
Jeffrie             1
Adele               1
Maya                1
Evy                 1
Humphrey            1
Brandonald          1
Burt                1
Eevee               1
Donny               1
Torque              1
Coopson             1
Kevon               1
Tiger               1
Schnitzel           1
Pip                 1
Herb                1
Jeremy              1
Katie               1
Jaycob              1
Suki                1
Clyde               1
Danny               1
Snoop               1
Duchess             1
Gunner              1
Lucia               1
Darrel              1
Brooks              1
Scott               1
Pubert              1
Jeffri              1
Ace                 1
Amber               1
Spencer             1
old                 1
Schnozz             1
Clifford            1
Rumpole             1
Hamrick             1
Vinscent            1
Roscoe              1
Mimosa              1
Rooney              1
William             1
Timmy               1
Dotsy               1
Timofy              1
Corey               1
Pepper              1
Lili                1
Brockly             1
Mabel               1
Monster             1
Hubertson           1
Lorelei             1
Ralphson            1
Monty               1
Milky               1
Ozzie               1
Norman              1
Snoopy              1
Crawford            1
Pavlov              1
Noah                1
Kollin              1
Combo               1
Sage                1
Willie              1
Beya                1
Walker              1
Godzilla            1
Sully               1
Tayzie              1
Gerbald             1
Ron                 1
Meatball            1
Mojo                1
Orion               1
Charl               1
Shiloh              1
Brudge              1
Ronnie              1
Chaz                1
Luther              1
Snickers            1
Saydee              1
Tebow               1
Wesley              1
Kial                1
Sandra              1
Stormy              1
Richie              1
Sonny               1
Mya                 1
Rinna               1
Billy               1
Tove                1
Duddles             1
Peanut              1
Bowie               1
Mitch               1
Ziva                1
Jerome              1
Fwed                1
Glacier             1
Kona                1
Ralph               1
Arya                1
Kuyu                1
Petrick             1
Miley               1
Remus               1
Ralphé              1
Alf                 1
Jed                 1
Mutt                1
Christoper          1
Aqua                1
Pinot               1
Iroh                1
Chesterson          1
Kobe                1
Trigger             1
Gustaf              1
Wishes              1
Derby               1
Raphael             1
Doobert             1
Cora                1
Brandy              1
Rumble              1
Molly               1
Lillie              1
Thor                1
Tobi                1
Sky                 1
Karll               1
Tedders             1
Bradley             1
Marlee              1
Joey                1
Jarod               1
Tessa               1
Ferg                1
space               1
Baron               1
Andru               1
Major               1
Georgie             1
Harry               1
Yoda                1
Carll               1
Travis              1
Berkeley            1
Heinrich            1
Boston              1
Jazzy               1
Fabio               1
Huck                1
Tater               1
Geoff               1
Bloop               1
Stewie              1
Gòrdón              1
Sweet               1
Marty               1
Beemo               1
Remy                1
Ben                 1
Dale                1
Skittles            1
Skye                1
Shelby              1
Rizzo               1
Lilah               1
Nico                1
Severus             1
Laela               1
Birf                1
Smiley              1
Crimson             1
Cleopatricia        1
Michelangelope      1
Taco                1
Kallie              1
Tito                1
Rueben              1
Perry               1
Mollie              1
Zeek                1
Ralphie             1
Kara                1
Grizzie             1
Berb                1
DayZ                1
Willem              1
Dietrich            1
Tango               1
Dante               1
Dwight              1
Tanner              1
Clarq               1
Rey                 1
Mosby               1
Jim                 1
Mike                1
Billl               1
Ralphy              1
Bodie               1
Grady               1
Shikha              1
Traviss             1
Autumn              1
Jimbo               1
Bookstore           1
Julius              1
Trip                1
Napolean            1
Durg                1
Sojourner           1
Jameson             1
Carter              1
Brady               1
Koko                1
Divine              1
Sprinkles           1
Rose                1
Philippe            1
Halo                1
Eazy                1
Superpup            1
Storkson            1
Ester               1
Simba               1
Iggy                1
Ralpher             1
Moofasa             1
Sweets              1
Sailer              1
Crumpet             1
Ambrose             1
Cedrick             1
Winifred            1
Hero                1
Shadoe              1
Crouton             1
Griswold            1
Teddy               1
Asher               1
Toffee              1
Filup               1
his                 1
Jay                 1
Pumpkin             1
Blipson             1
Lacy                1
Karl                1
Brownie             1
Jockson             1
Ralf                1
Champ               1
Staniel             1
Hector              1
Caryl               1
Stu                 1
Arlen               1
Kirk                1
Vince               1
Theo                1
Edd                 1
Stefan              1
Kawhi               1
all                 1
Zoe                 1
Pawnd               1
Callie              1
Mark                1
Ike                 1
Harlso              1
Franq               1
Spark               1
Lugan               1
Alejandro           1
Ivar                1
Opie                1
Comet               1
Hall                1
light               1
Chase               1
Jangle              1
Kingsley            1
Stephanus           1
Tess                1
Buckley             1
Ole                 1
Vixen               1
Maude               1
Kloey               1
Blanket             1
Obi                 1
Wafer               1
Ashleigh            1
Augie               1
Anna                1
Tuck                1
Pupcasso            1
Naphaniel           1
Zooey               1
Cal                 1
Beckham             1
JD                  1
Kellogg             1
Noosh               1
Bloo                1
Blakely             1
Bobble              1
Batdog              1
Edmund              1
Carper              1
Rupert              1
Aja                 1
O                   1
Banditt             1
Shooter             1
Kayla               1
Al                  1
Kathmandu           1
Obie                1
Ginger              1
Fletcher            1
Nimbus              1
Loomis              1
Rambo               1
Eriq                1
Goose               1
Odin                1
Barney              1
Laika               1
Einstein            1
Kota                1
Scruffers           1
Karma               1
Mairi               1
Amy                 1
Ito                 1
Shakespeare         1
Longfellow          1
Mary                1
Mac                 1
Spanky              1
Monkey              1
Bode                1
Mack                1
Bronte              1
Godi                1
Chef                1
Sobe                1
Eleanor             1
my                  1
Eugene              1
Hazel               1
Geno                1
Jo                  1
Ronduh              1
Bones               1
Joshwa              1
Meera               1
Grey                1
Chesney             1
Howie               1
Jonah               1
Stark               1
Barry               1
Kaia                1
Lipton              1
Willy               1
Sephie              1
Rhino               1
Blu                 1
Freddery            1
Flurpson            1
by                  1
Lilli               1
Brian               1
Butters             1
Jennifur            1
Dudley              1
Mingus              1
Sora                1
Alexanderson        1
incredibly          1
Ridley              1
Darby               1
Kramer              1
River               1
life                1
Grizzwald           1
Malikai             1
Cuddles             1
Biden               1
Jett                1
Aldrick             1
Damon               1
Mo                  1
Newt                1
Pherb               1
Genevieve           1
Furzey              1
Enchilada           1
Brat                1
Antony              1
BeBe                1
Goliath             1
General             1
Bluebert            1
Sundance            1
Jareld              1
Rufio               1
Livvie              1
Socks               1
Emmie               1
Dallas              1
Kaiya               1
Stella              1
Cheesy              1
Covach              1
Tassy               1
Dixie               1
Gert                1
Arnold              1
Ulysses             1
Chuck               1
Binky               1
Wiggles             1
Lassie              1
Striker             1
Rolf                1
Harvey              1
Poppy               1
Stuart              1
Gin                 1
Trevith             1
such                1
Benny               1
DonDon              1
Craig               1
Cermet              1
Finnegus            1
Alfy                1
Ed                  1
Kulet               1
Kanu                1
Banjo               1
Dewey               1
Jomathan            1
Shawwn              1
Strudel             1
Jebberson           1
Anthony             1
Leonidas            1
Bobbay              1
Tycho               1
Gustav              1
Dug                 1
Jaspers             1
Jiminus             1
Pete                1
Zara                1
Randall             1
Lambeau             1
Flash               1
Pancake             1
Lupe                1
Bradlay             1
Venti               1
Marvin              1
Mona                1
Boots               1
Chubbs              1
Oreo                1
Patch               1
Erik                1
Tommy               1
Coleman             1
Pluto               1
Juckson             1
Chevy               1
Dot                 1
Jessiga             1
officially          1
Maxwell             1
Izzy                1
Lulu                1
Dunkin              1
Mookie              1
Lucky               1
Kane                1
Kendall             1
Emma                1
Florence            1
Bobby               1
Siba                1
Ebby                1
Taz                 1
Kenzie              1
Deacon              1
Dex                 1
Dutch               1
Nida                1
Olaf                1
Mauve               1
Cannon              1
Ruffles             1
Bobb                1
Chloe               1
Fynn                1
Bilbo               1
Robin               1
Amélie              1
Hanz                1
Farfle              1
Apollo              1
Tom                 1
Pippin              1
infuriating         1
Huxley              1
Cecil               1
Lolo                1
Jeb                 1
Sunshine            1
Margo               1
Julio               1
Tripp               1
Murphy              1
Aiden               1
Bert                1
Lenox               1
Yukon               1
Dylan               1
Harrison            1
Dobby               1
Holly               1
Chuq                1
Bayley              1
Clybe               1
Tilly               1
Diogi               1
Tug                 1
Zuzu                1
unacceptable        1
Gordon              1
Sid                 1
Bertson             1
Horace              1
Edgar               1
Sparky              1
Jazz                1
Steve               1
Link                1
Rudy                1
Josep               1
Zeus                1
Bruno               1
Keet                1
Chadrick            1

In [ ]:
twitter_dogs_archive[twitter_dogs_archive.tweet_id == 679062614270468096]

In [ ]:
twitter_dogs_archive.doggo.value_counts()

In [ ]:
twitter_dogs_archive.floofer.value_counts()

In [ ]:
twitter_dogs_archive.pupper.value_counts()

In [ ]:
twitter_dogs_archive.puppo.value_counts()

##### Assessing tweets data

In [ ]:
# looking at errors
print("Number of non-existing tweet ids: ", len(errors_df))

In [ ]:
tweets_df[tweets_df['retweet_count'].isnull()]

##### Assessing image predictions data

In [ ]:
image_predictions.info()

In [ ]:
image_predictions.tweet_id.duplicated().sum()

In [ ]:
image_predictions.iloc[2059]['jpg_url']

In [ ]:
# check if retweets are in image predictions -> no retweets in image predictions
for retweet in retweets_reduced:
    if retweet in image_predictions.tweet_id.values:
        print(retweet)

**Quality**  

_**twitter archive table**_
- irrelevant retweets
- irrelevant columns in_reply_to_status_id, in_reply_to_user_id
- incorrect null values in name and in dog stages. None should be NaN.
- Incorrect dog names, determiners like: a, an, the, officially, old, just, quite, getting, actually, mad, not, by, very, one, this, life, all
- Erroneous data types (timestamp, source, dog_stage)
- Source value is wrapped in anchor tag
- Text contains mentions of users, e.g. @NonWhiteHat
- Contains tweets that are replies to other treets --> Remove if in_reply_to_status_id/in_reply_to_user_id is not NaN
- Some tweets contain a link using t.co, twitter's url shortener. They are not active anymore. Working url is included in expanded_urls
- Row 47, 59, 62,91 not a valid observation (We only rate dogs-comments)
- Incorrectly-extracted or None as names, e.g. a row 56, None should be NaN
- Incorrect demoninators (not 10)
- Incomparable rating numerators.
- Tweets with missing photos
- Incorrect dog stages
- dog statuses should be NaN values instead of a string of None

- dogs with multiple dog stage in the following tweet_ids: 854010172552949760, 817777686764523521, 808106460588765185, 802265048156610565, 801115127852503040, 785639753186217984,781308096455073793, 775898661951791106, 770093767776997377, 759793422261743616, 751583847268179968, 741067306818797568, 733109485275860992, 855851453814013952

_**image predictions table**_
- dog races in p1, p2, p3 contain underscores, some are uppercase, some are lowercase
- dog races contain non dog- races, e.g. hen, cock, personal_computer, shopping_cart, box-turtle... --> p_dog is False in this case
- contains 281 fewer entries compared to twitter archive table

_**tweets table**_ 
- contains 17 fewer ids compared to twitter archive due to errors during twitter request 

**Tidiness**  

_**twitter archive table**_
- doggo, floofer, pupper, puppo should be one column
- 3 separate tables of the same purpose
- Multiple urls in expanded_urls (some are duplicates)


### Cleaning Data <a name="cleaning-data"></a>
#### Tidiness

In [6]:
# Create copies of data frames
dogs_clean = twitter_dogs_archive
tweets_clean = tweets_df
images_clean = image_predictions

**dogs: _doggo, floofer, pupper, puppo should be one column_**

_**Define**_

Create a dog_stage column to assign the status of dog to each tweet. Use the 4 separate columns of doggo floofer, pupper and puppo. Leave the value empty if all of the 4 columns contain "None".

_**Code**_

In [7]:
# create a dog status column by using doggo column
column_names = ['tweet_id','in_reply_to_status_id','in_reply_to_user_id', \
                'timestamp','source','text','retweeted_status_id', 'retweeted_status_user_id','retweeted_status_timestamp',\
                'expanded_urls','rating_numerator','rating_denominator','name']

# add column for none dog type
dogs_clean['None'] = "placeholder"

for i, row in dogs_clean.iterrows():
    if row.loc['doggo'] == row.loc['floofer'] == row.loc['pupper'] == row.loc['puppo'] == 'None':
        dogs_clean.at[i, 'None'] = "None"

# melt dog stages into rows
dogs_clean = pd.melt(dogs_clean, id_vars=column_names, var_name='placeholder', value_name='dog_stage')

# remove all excess rows and columns
for i, row in dogs_clean.iterrows():
    if not row.loc['placeholder'] == row.loc['dog_stage']:
        dogs_clean = dogs_clean.drop([i])
        
dogs_clean = dogs_clean.drop(['placeholder'], axis=1).reset_index(drop=True)

_**Test**_

In [8]:
# Data frame must have a min of 2356 non-null values plus 14 tweets with multiple values for dog stages
dogs_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2370 entries, 0 to 2369
Data columns (total 14 columns):
tweet_id                      2370 non-null int64
in_reply_to_status_id         79 non-null float64
in_reply_to_user_id           79 non-null float64
timestamp                     2370 non-null object
source                        2370 non-null object
text                          2370 non-null object
retweeted_status_id           183 non-null float64
retweeted_status_user_id      183 non-null float64
retweeted_status_timestamp    183 non-null object
expanded_urls                 2311 non-null object
rating_numerator              2370 non-null int64
rating_denominator            2370 non-null int64
name                          2370 non-null object
dog_stage                     2370 non-null object
dtypes: float64(4), int64(3), object(7)
memory usage: 259.3+ KB

In [9]:
# no changes in value counts of dog stages
dogs_clean.dog_stage.value_counts()

None       1976
pupper      257
doggo        97
puppo        30
floofer      10
Name: dog_stage, dtype: int64

In [10]:
dogs_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2370 entries, 0 to 2369
Data columns (total 14 columns):
tweet_id                      2370 non-null int64
in_reply_to_status_id         79 non-null float64
in_reply_to_user_id           79 non-null float64
timestamp                     2370 non-null object
source                        2370 non-null object
text                          2370 non-null object
retweeted_status_id           183 non-null float64
retweeted_status_user_id      183 non-null float64
retweeted_status_timestamp    183 non-null object
expanded_urls                 2311 non-null object
rating_numerator              2370 non-null int64
rating_denominator            2370 non-null int64
name                          2370 non-null object
dog_stage                     2370 non-null object
dtypes: float64(4), int64(3), object(7)
memory usage: 259.3+ KB

_**3 separate tables of the same purpose**_

_**Define**_

Join dogs table and tweets table using 'tweet_id', respectively 'id', removing non-matching tweet_ids. Than, join new dogs table and image predictions table on their common tweet_id. Keep all entries with non-matching dog race predictions to not loose entries.

_**Code**_

In [11]:
# merge dogs and tweets table 
dogs_clean = pd.merge(dogs_clean, tweets_clean, how='inner',  left_on='tweet_id', right_on='id').drop(['id'], axis=1)

# merge dogs and image predications tables 
dogs_clean = pd.merge(dogs_clean, images_clean, how='left',  on='tweet_id')

_**Test**_

In [12]:
# should have all 2353 entries after dropping the missing tweets
# all columns are combined in one table 
dogs_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2353 entries, 0 to 2352
Data columns (total 27 columns):
tweet_id                      2353 non-null int64
in_reply_to_status_id         79 non-null float64
in_reply_to_user_id           79 non-null float64
timestamp                     2353 non-null object
source                        2353 non-null object
text                          2353 non-null object
retweeted_status_id           169 non-null float64
retweeted_status_user_id      169 non-null float64
retweeted_status_timestamp    169 non-null object
expanded_urls                 2294 non-null object
rating_numerator              2353 non-null int64
rating_denominator            2353 non-null int64
name                          2353 non-null object
dog_stage                     2353 non-null object
favorite_count                2353 non-null int64
retweet_count                 2353 non-null int64
jpg_url                       2079 non-null object
img_num                       2079 non-null float64
p1                            2079 non-null object
p1_conf                       2079 non-null float64
p1_dog                        2079 non-null object
p2                            2079 non-null object
p2_conf                       2079 non-null float64
p2_dog                        2079 non-null object
p3                            2079 non-null object
p3_conf                       2079 non-null float64
p3_dog                        2079 non-null object
dtypes: float64(8), int64(5), object(14)
memory usage: 514.7+ KB

_**Quality**_

_**irrelevant retweets**_

_**Define**_  
Keep only rows containing a null value in 'retweeted_status_id'. Subsequentially, remove irrelevant columns: 'retweeted_status_id', 'retweeted_status_user_id' and 'retweeted_status_timestamp'.

_**Code**_

In [13]:
dogs_clean = dogs_clean[dogs_clean.retweeted_status_id.isna()]
dogs_clean.drop(['retweeted_status_id', 'retweeted_status_user_id','retweeted_status_timestamp'], axis=1, inplace=True)

_**Test**_

In [14]:
# After removing 169 retweet observations, we should have 2184 observations left.  
dogs_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2184 entries, 0 to 2352
Data columns (total 24 columns):
tweet_id                 2184 non-null int64
in_reply_to_status_id    79 non-null float64
in_reply_to_user_id      79 non-null float64
timestamp                2184 non-null object
source                   2184 non-null object
text                     2184 non-null object
expanded_urls            2126 non-null object
rating_numerator         2184 non-null int64
rating_denominator       2184 non-null int64
name                     2184 non-null object
dog_stage                2184 non-null object
favorite_count           2184 non-null int64
retweet_count            2184 non-null int64
jpg_url                  2002 non-null object
img_num                  2002 non-null float64
p1                       2002 non-null object
p1_conf                  2002 non-null float64
p1_dog                   2002 non-null object
p2                       2002 non-null object
p2_conf                  2002 non-null float64
p2_dog                   2002 non-null object
p3                       2002 non-null object
p3_conf                  2002 non-null float64
p3_dog                   2002 non-null object
dtypes: float64(6), int64(5), object(13)
memory usage: 426.6+ KB

_**Incorrect null values in name and in dog stages. None should be NaN.**_

_**Define**_  
Replace every None string into a numpy null value in name and dog_stage columns.

_**Code**_

In [38]:
dogs_clean['name'].replace("None", np.nan, inplace=True)
dogs_clean['dog_stage'].replace("None", np.nan, inplace=True)

_**Test**_

In [39]:
# dog stages should have 2184-1828=356 entries, since there were 1828 Nones  
# names should have 2184-87=1497 entries, since there were 687 Nones 
dogs_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2184 entries, 0 to 2352
Data columns (total 24 columns):
tweet_id                 2184 non-null int64
in_reply_to_status_id    79 non-null float64
in_reply_to_user_id      79 non-null float64
timestamp                2184 non-null object
source                   2184 non-null object
text                     2184 non-null object
expanded_urls            2126 non-null object
rating_numerator         2184 non-null int64
rating_denominator       2184 non-null int64
name                     1497 non-null object
dog_stage                356 non-null object
favorite_count           2184 non-null int64
retweet_count            2184 non-null int64
jpg_url                  2002 non-null object
img_num                  2002 non-null float64
p1                       2002 non-null object
p1_conf                  2002 non-null float64
p1_dog                   2002 non-null object
p2                       2002 non-null object
p2_conf                  2002 non-null float64
p2_dog                   2002 non-null object
p3                       2002 non-null object
p3_conf                  2002 non-null float64
p3_dog                   2002 non-null object
dtypes: float64(6), int64(5), object(13)
memory usage: 426.6+ KB

_**Incorrect dog names, determiners like: a, an, the, officially, old, just, quite, getting, actually, mad, not, by, very, one, this, life, all**_

_**Define**_

Analyse the text of all columns containing an incorrect dog name and replace it by the actual name.

_**Code**_

In [ ]:
determiners = ["a", "an", "the", "officially", "old", "just", "quite", "getting", "actually", "mad", "not", "by", "very", "one", "this", "life", "all"]

# loop trough names column and print each text of the text collumn whenever name equals determiner

for i, row in dogs_clean.iterrows():
    print(row['name'])
    break

_**Test**_

_**Irrelevant columns 'in reply to status id', 'in reply to user id'**_

_**Define**_  
Drop 'in reply to status id' and 'in reply to user id' columns in data set.

_**Code**_

In [ ]:
dogs_clean.drop(['in_reply_to_status_id', 'in_reply_to_user_id'], axis=1, inplace=True)

_**Test**_

In [ ]:
# 'in reply to status id' and 'in reply to user id' columns were removed
dogs_clean.info()

_**Erroneous data types (timestamp, source, dog stage)**_

_**Define**_  

Convert timestamp into datetime format. Convert source and dog stage into categorical data.

_**Code**_

In [ ]:
# To datetime
dogs_clean.timestamp = pd.to_datetime(dogs_clean.timestamp)

# To category
dogs_clean.source = dogs_clean.source.astype('category')
dogs_clean.dog_stage = dogs_clean.dog_stage.astype('category')

_**Test**_

In [ ]:
dogs_clean.info()

## Analysis and Visualization <a name="analysis-and-visualization"></a>
The paragraph text

- Most popular dog names
- most popular dog content 
- rating statistics
- popularity of the account
- Where are users from?
- most popular hashtags
- what race is associated with which dogtype

## Reporting <a name="reporting"></a>
The paragraph text